.boton-registro {
    height: 40px;
    margin-top: 10px;
}

.titulo-registro {
    text-align: center;
    margin-top: 15px;
}

.boton-foto {
    height: 150px;
    width: 180px;
    margin-top: 40px;
}

ion-segment-button{
    color: white;
}

ion-toolbar{
    --ion-background-color:#222428;
}