<ion-header>
  <ion-toolbar  color="primary">
    <ion-title>Registro de usuario</ion-title>
    <ion-button slot="start" fill="clear" [routerLink]="['/login']">
      <ion-icon style="color: #fff; font-size: 25px;" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <section class="ion-padding" color="primary">

    <ion-segment  scrollable 
                  mode="md" 
                  color="primary"
                  value = "0"
                  (ionChange)="cambioDeRegistro( $event )">

      <ion-segment-button mode="md" 
                          name = "registroActual"                       
                          *ngFor="let registro of registros"
                          [value]="registro.id">

      <ion-label text-capitalize>{{ registro.tipo }}</ion-label>
      </ion-segment-button>

    </ion-segment>
  </section>
  <div *ngIf="registroCompleto">
    <ion-item color="dark">
      <ion-label position="floating">Nombre</ion-label> 
      <ion-input id="nombre" type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
    </ion-item> 
    <ion-item color="dark">
      <ion-label position="floating">Apellido</ion-label> 
      <ion-input id="apellido" type="text" [(ngModel)]="apellido" name="apellido"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="floating">DNI</ion-label> 
      <ion-input type="text" [(ngModel)]="dni" name="dni"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="floating">Sexo</ion-label> 
      <ion-input type="text" [(ngModel)]="sexo" name="sexo"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="floating">Correo</ion-label> 
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="floating">Contraseña</ion-label> 
      <ion-input type="password" [(ngModel)]="clave" name="clave"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label position="floating">Confirmar contraseña</ion-label> 
      <ion-input type="password" [(ngModel)]="confirmarClave" name="confirmarClave"></ion-input>
    </ion-item>
    <ion-button class="boton-registro" expand="block" (click)="enviarDatos()">Enviar datos</ion-button>
    <div style="text-align: center;">
      <ion-button (click)="sacarFoto()" class="boton-foto" [disabled]="!finalizoRegistro">
        <div><img src="../../../assets/camara.png" alt=""></div>        
      </ion-button>  
    </div>
  </div>
  <div *ngIf="!registroCompleto">
    <ion-item color="dark">
      <ion-label>Registrarse con un alias</ion-label> 
    </ion-item>
    <ion-item color="dark">
      <ion-label position="floating">Alias</ion-label> 
      <ion-input type="text" [(ngModel)]="alias" name="alias"></ion-input>
    </ion-item>
    <ion-button class="boton-registro" expand="block" (click)="registroAnonimo()">Enviar alias</ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="registroCompleto">
    <app-lector-dni  (enviarDatos) = "recibirQR($event)"></app-lector-dni>
    
  </ion-toolbar>
</ion-footer>
