<ion-header>
  <ion-toolbar  color="primary">
    <ion-back-button slot="start" text="Mi Pedido"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="this.pedido">
    <ion-list-header>
      <ion-row>
        <h3>Estado Pedido: {{this.pedido.estado}} </h3>
      </ion-row><br>  
    </ion-list-header>
    <ion-row>
      <h5 style="margin-left: 20px;" *ngIf="this.pedido.estado!='servido'">Tiempo Máximo de espera: {{this.tiempoMaximo}} min </h5>       
    </ion-row>

    <ion-item *ngFor="let producto of this.pedido.productos" (click)="mostrarDetalle(producto)">
      <ion-avatar slot="start">
        <img [src]="producto.foto1">
      </ion-avatar>
      <ion-label>
        <h2>{{producto.nombre}}</h2>
        <h3>{{producto.estado}}</h3>
        <p>{{producto.descripcion}}</p>
      </ion-label>
    </ion-item>

     </ion-list>

     
    </ion-content>
    
<ion-footer *ngIf="this.pedido">
    <ion-toolbar >
        <ion-button expand="block" *ngIf="this.pedido.estado=='confirmadoCliente'" (click)="pedirCuenta()" color="success" > <ion-icon name="card-outline"> </ion-icon> Pedir Cuenta <ion-icon name="cash-outline"> </ion-icon></ion-button>
    </ion-toolbar>
</ion-footer>