ion-segment-button{
    color: white;
    font-size: 11.5px;
}

ion-toolbar{
    --ion-background-color:#222428;
}

.color-labels {
    color: aquamarine;
}

ion-card-subtitle {
    color: lightgrey
}