<ion-header>
  <ion-toolbar color="primary">
    <ion-title>BARTENDER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark"> 
  <br>
  <ion-list-header lines="inset" color="dark">
    <h3>LISTADO DE PEDIDOS</h3>
  </ion-list-header>
  <br>
  <ion-card color="dark" *ngFor="let pedido of pedidos">
    <ion-card-header color="dark">
      <ion-card-title (click)="detallesPedido(pedido)">{{pedido.mesa.nombrePublico}}</ion-card-title>
    </ion-card-header>
    <ion-card-content color="dark" *ngIf="idActivo == pedido.idBD">
      <div color="dark" *ngFor="let producto of productos">
        <ion-item color="dark" *ngIf="producto.estado == 'espera'">
          <ion-label>{{producto.nombre}}</ion-label>
          <ion-button color="danger" (click)="prepararBebida(producto, pedido)">Preparar</ion-button>
        </ion-item>
        <ion-item color="dark" *ngIf="producto.estado == 'preparación'">
          <ion-label>{{producto.nombre}}</ion-label>
          <ion-button color="success" (click)="bebidaLista(producto, pedido)">Listo</ion-button>
        </ion-item>
      </div>
      <ion-item color="dark" *ngIf="terminado">
        <ion-label>Todo listo, esperando al cocinero.</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
<ion-item color="dark" *ngIf="noHayPedidos" lines="inset">
  <ion-label>No hay pedidos disponibles.</ion-label>
</ion-item>
</ion-content> 