<ion-header>
  <ion-toolbar  color="primary">
    <ion-back-button slot="start" text="Opciones"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">

     
        <ion-row style="height: 60%;">
          <ion-col size="12">
            <ion-button style="height: 100%;" fill="clear" (click)="verEstado()"  class="verEstado" expand="full" >
              <p class="texto">Ver Estado</p>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row style="height: 20%;">
          <ion-col size="12">
            <ion-button style="height: 100%;" fill="clear"   class="encuesta" expand="full" >
              <p class="texto2">Encuestas</p>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row style="height: 20%;">
          <ion-col size="12">
            <ion-button style="height: 100%;" fill="clear"   class="juegos" expand="full" >
              <p class="texto2">Juegos</p>
            </ion-button>
          </ion-col>
        </ion-row>
</ion-content>

<ion-footer *ngIf="this.pedido">
    <ion-toolbar >
        <ion-button expand="block" (click)="pedirCuenta()" *ngIf="this.pedido.estado=='confirmadoCliente'" color="success" > <ion-icon name="card-outline"> </ion-icon> Pedir Cuenta <ion-icon name="cash-outline"> </ion-icon></ion-button>
    </ion-toolbar>
</ion-footer>